* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 80px 80px;
  background-color: purple;
  font-family: sans-serif
}



.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 2rem;
}
.card {
  position: relative;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3),
              4px 4px 20px rgba(0,0,0,0.3),
              4px 4px 40px rgba(0,0,0,0.3),
              4px 4px 80px rgba(0,0,0,0.3)
}
.card-image {
  background: black;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

img {
  background-position: cover/center;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transform: scale(1.2)
}
.card-content {
  position: absolute; 
  height: 55px;
  transition: 0.5s ease-in-out;
  bottom: 0;
  margin: 2rem 1rem;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
  width: 90%
}

.card-content h1 {
  font-size: 1.5rem;
}

.card-content p {
  height: 0;
  overflow: hidden;
  font-size: 1rem;
}
.card:hover img {
  opacity: 0.3;
}
.card:hover .card-content {
  opacity: 0.8;
   height: 350px;
   transition: 0.5s ease-in-out;
   cursor: pointer; 
}

.card:hover .card-content p {
  height: 200px;
  margin-top: 1rem;
}

